@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --font-sans: 'Sora', sans-serif;

  --font-family-main: 'Sora', sans-serif;

  --display-font-size: 44px;
  --display-line-height: 1.17;
  --display-tracking: -2%;

  --display-m-font-size: 20px;
  --display-m-line-height: 1.17;
  --display-m-tracking: -2%;

  --subheading-font-size: 36px;
  --subheading-line-height: 1.2;
  --subheading-tracking: -2%;

  --h1-font-size: 32px;
  --h1-line-height: 1.25;
  --h1-tracking: -2%;

  --h2-font-size: 28px;
  --h2-line-height: 1.25;
  --h2-tracking: -2%;

  --h3-font-size: 24px;
  --h3-line-height: 1.15;
  --h3-tracking: -2%;

  --h4-font-size: 20px;
  --h4-line-height: 1.15;
  --h4-tracking: -2%;

  --h5-font-size: 16px;
  --h5-line-height: 1.25;
  --h5-tracking: -2%;

  --h6-font-size: 14px;
  --h6-line-height: 1.25;
  --h6-tracking: -2%;

  --p1-font-size: 18px;
  --p1-line-height: 1.2;
  --p1-tracking: 2%;

  --p2-font-size: 16px;
  --p2-line-height: 1.5;
  --p2-tracking: 2%;

  --p3-font-size: 12px;
  --p3-line-height: 1.33;
  --p3-tracking: 2%;

  --btn1-font-size: 16px;
  --btn1-line-height: 1.2;
  --btn1-tracking: 2%;

  --btn2-font-size: 12px;
  --btn2-line-height: 1.25;
  --btn2-tracking: 2%;

  --underlined-font-size: 16px;
  --underlined-line-height: 1.2;
  --underlined-tracking: -2%;

  --color-black: #000000;
  --color-neutral: #404040;
  --color-white: #ffffff;

  --color-gray-100: #f4f4f5;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d4d4d8;
  --color-gray-500: #71717a;
  --color-gray-800: #27272a;

  --color-error-500: #ef4444;

  --bp-mobile: 480px;
  --bp-tablet: 960px;
  --bp-desktop: 1280px;
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
  scrollbar-gutter: stable;
  font-family: var(--font-family-main);
  font-size: var(--p2-font-size);
  line-height: var(--p2-line-height);
  background-color: var(--color-black);
}

html,
body,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: normal;
  font-style: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-family: inherit;
}

@keyframes on-auto-fill-start {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes on-auto-fill-cancel {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

input:-webkit-autofill {
  animation-name: on-auto-fill-start;
}

input:not(:-webkit-autofill) {
  animation-name: on-auto-fill-cancel;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-gray-800) !important;
  color: var(--color-gray-800) !important;
}

.text-h1 {
  font-family: var(--font-family-main);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: -0.02em;
}

.text-h2 {
  font-family: var(--font-family-main);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: -0.02em;
}

.text-h3 {
  font-family: var(--font-family-main);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: -0.02em;
}

.text-h4 {
  font-family: var(--font-family-main);
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  letter-spacing: -0.02em;
}

.text-h5 {
  font-family: var(--font-family-main);
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  letter-spacing: -0.02em;
}

.text-h6 {
  font-family: var(--font-family-main);
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  letter-spacing: -0.02em;
}

.text-p1 {
  font-family: var(--font-family-main);
  font-size: var(--p1-font-size);
  line-height: var(--p1-line-height);
  letter-spacing: 0.02em;
}

.text-p2 {
  font-family: var(--font-family-main);
  font-size: var(--p2-font-size);
  line-height: var(--p2-line-height);
  letter-spacing: 0.02em;
}

.text-p3 {
  font-family: var(--font-family-main);
  font-size: var(--p3-font-size);
  line-height: var(--p3-line-height);
  letter-spacing: 0.02em;
}

.text-btn1 {
  font-family: var(--font-family-main);
  font-size: var(--btn1-font-size);
  line-height: var(--btn1-line-height);
  letter-spacing: 0.02em;
}

.text-btn2 {
  font-family: var(--font-family-main);
  font-size: var(--btn2-font-size);
  line-height: var(--btn2-line-height);
  letter-spacing: 0.02em;
}

.text-underlined {
  font-family: var(--font-family-main);
  font-size: var(--underlined-font-size);
  line-height: var(--underlined-line-height);
  letter-spacing: -0.02em;
  text-decoration: underline;
}

.text-display {
  font-family: var(--font-family-main);
  font-size: var(--display-font-size);
  line-height: var(--display-line-height);
  letter-spacing: -0.02em;
}

.text-display-m {
  font-family: var(--font-family-main);
  font-size: var(--display-m-font-size);
  line-height: var(--display-m-line-height);
  letter-spacing: -0.02em;
}

.text-subheading {
  font-family: var(--font-family-main);
  font-size: var(--subheading-font-size);
  line-height: var(--subheading-line-height);
  letter-spacing: -0.02em;
}

.text-w-200 {
  font-weight: 200;
}

.text-w-400 {
  font-weight: 400;
}

.text-w-500 {
  font-weight: 500;
}

.text-w-600 {
  font-weight: 600;
}

.text-w-700 {
  font-weight: 700;
}

.text-w-800 {
  font-weight: 800;
}

.text-outlined {
  color: transparent;
  -webkit-text-stroke: 2px currentColor;
}

.layout {
  --padding-x: 80px;
  --width: 1280px;

  width: 100%;
  padding-inline: max(var(--padding-x), calc(50vw - var(--width) / 2));
}