.about__container {
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	padding-block: 60px;
	gap: 20px;
}

.about__background {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.about__content {
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 700px;
}

.about__image {
	max-width: 360px;
	width: 100%;
	height: 100%;
	filter: invert(1) grayscale(1);
	max-height: 350px;
}

.about__description {
	font-family: Sora, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .02em;
	color: #e4e4e7;
	padding-top: 20px;
	white-space: pre-wrap;
}

