     .page {
         padding: 40px;
         max-width: 900px;
         margin: 0 auto;
         background: #000;
         color: #fff;
     }

     .title {
         font-weight: 800;
         margin-bottom: 24px;

          font-family: var(--font-family-main);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: -0.02em;
     }

     .formBlock {
         display: flex;
         flex-direction: column;
         gap: 12px;
         margin-bottom: 32px;
     }

     .input,
     .textarea,
     .select {
         background: #111;
         color: #fff;
         border: 1px solid #333;
         padding: 10px 14px;
         border-radius: 6px;
         width: 100%;
         font-size: 15px;
     }

     .textarea {
         min-height: 80px;
         resize: vertical;
     }

     .subtitle {
         font-size: 24px;
         margin-bottom: 16px;
     }

     .questions {
         display: flex;
         flex-direction: column;
         gap: 24px;
         margin-bottom: 30px;
     }

     .question {
         padding: 20px;
         border: 1px solid #333;
         border-radius: 10px;
         background: #111;
         display: flex;
         flex-direction: column;
         gap: 12px;
     }

     .checkbox {
         display: flex;
         align-items: center;
         gap: 8px;
     }

     .options {
         display: flex;
         flex-direction: column;
         gap: 8px;
         padding-left: 10px;
         margin-top: 6px;
     }

     .btnSmall {
         background: #222;
         color: #fff;
         padding: 6px 10px;
         border: 1px solid #444;
         border-radius: 6px;
         font-size: 14px;
         cursor: pointer;
         width: fit-content;
     }

     .btnSmall:hover {
         background: #333;
     }

     .addButton,
     .submitButton {
         /* background: #fff;
         color: #000;
         padding: 14px 20px;
         border-radius: 8px;
         border: none;
         cursor: pointer;
         font-size: 16px;
         margin-top: 20px; */
         margin-top: 20px;
     }

     .addButton:hover,
     .submitButton:hover {
         /* background: #e5e5e5; */
     }

     .buttonBox {
         display: flex;
         gap: 8px;
     }