.contact {
	padding-block: 60px;
	
}

.contact__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	color: #FFFFFF;
	text-align: center;
}

.contact__button {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}