.app-header {
	height: 80px;
	transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #FFFFFF;
	color: #000000;
	position: sticky;
	top: 0;
	z-index: 10;
}

.app-header--shadowed {
	box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
		0 2px 4px -2px rgba(255, 255, 255, 0.1);
}

.app-header__container {
    height: 100%;
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.app-header__logo {
	height: 48px;
	object-fit: contain;
}