.input {
	/* @include heading-h6; */

	/* border: 2px solid #ffffff; */
	border: 2px solid #000;
	/* border-radius: 4px; */
	padding: 18px 24px;
	width: 100%;
	/* color: #ffffff; */
	color: #000;
	transition: background-color 0.15s ease, box-shadow 0.15s ease;

	/* &::placeholder { */
	/* 	color: #e4e4e7; */
	/* } */
}

.input::placeholder {
	color: #777;
}

/* &:hover:not(:focus) { */
/* 	background-color: #27272a; */
/* } */
.input:hover:not(:focus) {
	background-color: #f2f2f2;
}

/* &:focus { */
/* 	outline: none; */
/* 	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), */
/* 		0 4px 8px rgba(24, 39, 75, 0.06); */
/* } */
.input:focus {
	outline: none;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
